---
import Intro from '../components/Intro.astro';
import PostList from '../components/PostList.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Maybe there's a better way in Astro to sort the posts by date?
const frontPagePosts = (await getCollection('blog'))
  .sort(
    (post1, post2) => Date.parse(post2.data.date) - Date.parse(post1.data.date)
  )
  .slice(0, 4);
---

<Layout title="Just Some Dev - Homepage">
  <main id="main-content" tabindex="-1">
    <Intro heading="Well, hello there!">
      My name is Nick Taylor. I am a Staff Software Engineer focusing on
      front-end technologies and tooling with a growing interest in serverless
      and edge computing.
    </Intro>
    <section class="post-list pad-top-700">
      <div class="inner-wrapper sf-flow">
        <!-- replace-with-stream-guest -->
      </div>
    </section>
    <PostList title="Latest Posts" posts={frontPagePosts} postType="blog" />
  </main>
</Layout>
