---
import { getCollection } from 'astro:content';

const allPosts = await Promise.all([
  getCollection('blog'),
  getCollection('vscodetips'),
  getCollection('newsletter'),
]);
const tags = [
  ...new Set(
    allPosts
      .flat()
      .map((post) => post.data.tags)
      .flat()
  ),
];
---

<h1>Tags</h1>
<ul>
  {
    tags.map((tag) => (
      <li>
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))
  }
</ul>
